nav ul a,
nav .brand-logo {
  color: #b71c1c;
}
.side-nav{
    color: black;
  }
html {
    scroll-behavior: smooth;
  }

.pos{
  position: relative;
}

.layer0{
  z-index: 0;
}
.layer1{
  z-index: 1;
}
.layer2{
  z-index: 2;
}

.fadebox{
  z-index: 2;
  height: 500px;
  background: linear-gradient(black, transparent);
}

.center1{
  text-align: center;  
}
h1,h2,h3,h4,h5,h6{
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
}

.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 75%;
}
.logo>h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}